{# templates/professor/consult-class.html.twig #}
{% extends 'professor/base.html.twig' %}

{% block title %}
edit class informations
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/login.css') }}"/>
{% endblock %}

{% block body %}
    <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#page-top">Espace porfesseur</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="sidebar-brand"><a href="#page-top"> Hello {{ app.user.username }}</a></li>
        {% endif %}<li class="sidebar-nav-item"><a href="/professor-home"> Espace Professeur Home  </a></li>
            <li class="sidebar-nav-item"><a href="/create-class"> Ajouter une classe</a></li>
            <li class="sidebar-nav-item"><a href="/professor-add-student"> Ajouter un élève </a></li>
            <li class="sidebar-nav-item"><a href="{{ path('app_logout') }}">Logout</a></li>
        </ul>
    </nav>
    <!-- breadcrumb -->
    <nav style="--bs-breadcrumb-divider: '>'; margin: 2%;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/professor-home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editer les Informations de la classe : {{ class_name }}</li>
      </ol>
    </nav>
        <section class="" style="background-color: #eee;">
               <div class="container py-5 h-100">
                 <div class="row d-flex justify-content-center align-items-center h-100">
                   <div class="col-xl-10">
                     <div class="card rounded-3 text-black">
                       <div class="row g-0">
                         <div class="col-lg-6">
                           <div class="card-body p-md-5 mx-md-4">
                             <div class="text-center">
                               <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                 style="width: 185px;" alt="logo">
                               <h4 class="mt-1 mb-3"> Espace Professeur </h4>
                               <h5 class="mb-3 pb-1"> Editer les Informations par eleve  </h5>
                             </div>
                             {{ form_start(EditForm) }}
                             <p class="text-center">Edit student informations in this class</p>

                             <div class="form-outline text-center mt-1">
                                {{ form_label(EditForm.studentid, 'Eleve id (voir tableau ci-dessous) ') }}
                                {{ form_row(EditForm.studentid, {label: ' '}) }}
                             </div>
                             <div class="form-outline text-center mt-1">
                                {{ form_label(EditForm.note1, 'Note 1') }}
                                {{ form_row(EditForm.note1, {label: ' '}) }}
                             </div>
                             <div class="form-outline text-center mt-1">
                               {{ form_label(EditForm.coef1, 'Coefficient 1 :') }}
                                {{ form_row(EditForm.coef1, {label: ' '}) }}
                             </div>
                             <div class="form-outline text-center mt-1">
                                {{ form_label(EditForm.note2, 'Note 2') }}
                                {{ form_row(EditForm.note2, {label: ' '}) }}
                             </div>
                             <div class="form-outline text-center mt-1">
                               {{ form_label(EditForm.coef2, 'Coefficient 2 :') }}
                                {{ form_row(EditForm.coef2, {label: ' '}) }}
                             </div>
                             <div class="form-outline text-center mt-1">
                                {{ form_label(EditForm.note3, 'Note 3') }}
                                {{ form_row(EditForm.note3, {label: ' '}) }}
                             </div>
                             <div class="form-outline text-center mt-1">
                                {{ form_label(EditForm.coef3, 'Coefficient 3') }}
                                {{ form_row(EditForm.coef3, {label: ' '}) }}
                             </div>
                             <div class="form-outline text-center mt-1">
                                {{ form_label(EditForm.absence, 'Nombre absences ') }}
                                {{ form_row(EditForm.absence, {label: ' '}) }}
                             </div>
                             <div class="form-outline text-center mt-1">
                                {{ form_label(EditForm.note, 'La moyenne finale') }}
                                {{ form_row(EditForm.note, {label: ' '}) }}
                             </div>
                             <div class="form-outline text-center mt-1">
                                {{ form_label(EditForm.notecoef, 'Coefficient moyenne (note)') }}
                                {{ form_row(EditForm.notecoef, {label: ' '}) }}
                             </div>
                             <div class="form-outline text-center mt-1">
                                {{ form_label(EditForm.commentaire, 'Commentaire : ') }}
                                {{ form_row(EditForm.commentaire, {label: ' '}) }}
                             </div>
                             {% if error == true %}
                                <div class="text-danger text-center"> L'eleve id n'est pas dans la liste des eleves inscrits a cette classe (verifiez votre saisie) </div>
                                </br>
                             {% endif %}
                             <div class="text-center pt-1 mt-3 mb-5 pb-1">
                               <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Save change</button>
                             </div>

                             {{ form_end(EditForm) }}
                           </div>
                         </div>
                         <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                                     <h4 class="mb-4 text-center"> Epp-platform </h4>
                                                     <h4 class="mb-4 text-center"> Explications de formulaire</h4>
                                                     <p class="small mb-0"> Hello {{ app.user.username }}, <br/>
                                                     --> Vous pouvez ajouter l’ensemble des données en rapport avec l’élève.
                                                     <br/>-->Vous pouvez remplir partiellement le formulaire (juste le(s) champs nécessaire(s))
                                                     <br/>-->La note moyenne est calculée automatiquement (la moyenne des notes en prenant en considération leurs coefficients. En revanche, vous pouvez la changer s’il y a d’autres niveaux d’évaluations de cette note (discipline …)
                                                     <br/>-->l’élève id se trouve à gauche du nom et prénom de l’élève dans la table d’informations en bas.
                                                     <br/>--> Si vous rencontrez un problème technique merci de contacter l’équipe support</p>
                                    </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
         </section>
        <h1 class="text-center mt-4 mb-4"> Informations classe : {{ class_name }}  </h1>
        <table class="table table-striped table-hover table-students text-center m-4">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">eleve Id</th>
              <th scope="col"> nom eleve</th>
              <th scope="col"> prenom eleve </th>
              <th scope="col"> note 1 </th>
              <th scope="col"> coef 1   </th>
              <th scope="col"> note 2 </th>
              <th scope="col"> coef 2  </th>
              <th scope="col"> note 3  </th>
              <th scope="col"> coef 3  </th>
              <th scope="col"> nombre d'absences</th>
              <th scope="col"> La moyenne finale </th>
              <th scope="col">ceofficient note </th>
              <th scope="col">commentaire de professeur </th>
            </tr>
          </thead>
          <tbody>
                {% set i = 1 %}
                {% for inf in informations %}
                    <tr>
                          <th scope="row">{{ i }} </th>
                          <th scope="row">{{ inf.student.id }} </th>
                          <td>{{ inf.student.nom }}</td>
                          <td>{{ inf.student.prenom }}</td>
                          <td> {{ inf.notes.note1 }} </td>
                          <td> {{ inf.notes.coef1 }} </td>
                          <td> {{ inf.notes.note2 }} </td>
                          <td> {{ inf.notes.coef2 }} </td>
                          <td> {{ inf.notes.note3 }} </td>
                          <td> {{ inf.notes.coef3 }} </td>
                          <td>{{ inf.notes.nbrAbsences }}</td>
                          <td>{{ inf.notes.note }}</td>
                          <td>{{ inf.notes.coefMoyenne }}</td>
                          <td>{{ inf.notes.professorCommentaire }}</td>
                          {% set i = i + 1 %}
                    </tr>
                {% endfor %}
          </tbody>
        </table>

    <div class="m-4">
                 <a href="/edit-class-students/{{ id_class }}" class="btn btn-primary m-4"> Ajouter/Supprimer un élève dans cette classe </a>
                 <a href="/class/{{ id_class }}" class="btn btn-primary m-3"> Consulter les données de cette classe </a>
                 <a href="#" class="btn btn-primary m-3"> Consulter les statistiques de cette classe</a>
                 <a href="/students-list" class="btn btn-primary m-3"> Liste des eleves</a>
        </div>
{% endblock %}
